<center>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @product, local: true) do |form| %>
    <p>
      <%= form.text_field :name, placeholder: 'product name' %>
    </p>
    <p>
      <%= form.text_field :price, placeholder: 'product price' %>
    </p>
    <p>
      <%= form.text_area :description, placeholder: 'product description' %>
    </p>

    <h2> Add Variant </h2>
    <%= form.fields_for :variants do |variants_form| %>
      <p>
        <%= variants_form.text_field :name, placeholder: 'variant name' %>
      </p>
      <p>
        <%= variants_form.text_field :stock, placeholder: 'variant stock' %>
      </p>
    <% end %>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</center>